*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
body{
    padding: 0;
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}
.main-header{
    height: 20px;
    background-color: lightgray;
    display: flex;
    justify-content: end;
}
.header-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
}
.header-button, .header-button-close{
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    margin-left: 2px;
    background-color: unset;
    outline: none;
}
.header-button-close:hover{
    background-color: red;
}
.header-button:hover{
    background-color: darkgray;
}
.header-icon{
    width: 50%;
}
.section-contacts{
    display: flex;
}
.telegram-box{
    display: flex;
}
.telegram-editor-box{
    width: 60px;
    height: 670px;
    background-color: #081b3d ;
}
.settings-button{
    width: 60px;
    height: 60px;
    border: none;
    background-color: inherit;
    cursor:pointer;
    outline: none;
}
.settings-button:active{
    background-color:  #06132a ;
}
.settings-icon{
    width: 40%;
    filter: contrast(10%);
}
.chats-button{
    margin-top: 10px;
    width: 60px;
    height: 70px;
    padding: 10px;
    border: none;
    background-color: inherit;
    cursor: pointer;
    outline: none;
}
.chats-button:active{
    background-color: #06132a ;
}
.telegram-editor-box .active{
    background-color: #06132a ;
}
.search-input{
    width: 280px;
    height: 35px;
    margin: 10px;
    padding: 5px;
    background-color: rgba( 200, 200, 207, 0.4);
    border: none;
    outline-color: rgb(125, 154, 238);
}
.contact-box{
    height: 670px;
}
.contacts-list{
    display: block;
    overflow-y:scroll;
    height: 610px;
}
.contact-item{
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.contact-item:hover{
    background-color: rgba( 200, 200, 207, 0.4);
}
.contact-name{
    padding-left: 10px;
    font-size: 14px;
}
.contact-button{
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-image: url(./img/profil-foto.jpg);
    background-position: center;
    background-size: cover;
    border: none;
}
.chats-button-icon{
    width: 50%;
    filter: contrast(10%);
}
.chats-button-subtext{
    margin-top: 5px;
    font-size: 12px;
    color: gray;
}
.section-chat{
    background-image: url(./img/background.png);
    width: 100%;
    height: 670px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
.chat-info{
    width:100%;
    height: 50px;
    background-color: white;
    display: flex;
    box-shadow: 0px 1px 2px gray;
}
.info-button-list{
    display: flex;
}
.info-button{
    border: none;
    background-color: inherit;
    margin-left: 5px;
    width: 30px;
    height: 30px;
    outline: none;
}
.info-button:hover{
    background-color: whitesmoke;
}
.info-button-icon{
    width: 60%;
    filter: contrast(50%);
}
.chat-info-people{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.chat-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info-title{
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
}
.info-title-button,.info-subtext-button{
    border: none;
    background-color: inherit;
    cursor: pointer;
    outline: none;
}
.info-subtext-button{
    margin-top: 4px;
    text-align: start;
}
.massage-label{
    position: relative;
    display: flex;
    width: 100%;
    height: 40px;
    background-color: white;
}
.send-icon{
    width: 70%;
}
.massage-send{
    width: 40px;
    height: 40px;
    border: none;
    background-color: inherit;
    position: absolute;
    right: 0px;
    cursor: pointer;
    outline: none;
}
.massage-textarea{
    width: 98%;
    resize: none;
    border: none;
    font-size: 15px;
    padding-top: 10px;
    padding-right: 95px;
    padding-left: 40px;
    font-family: 'Roboto', sans-serif;
    outline: none;
}
.footer-icon-2{
    margin: 5px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 40px;
    filter: contrast(50%);
    cursor: pointer;
}
.footer-icon-1{
    cursor: pointer;
    margin: 5px;
    position: absolute;
    width: 25px;
    height: 25px;
    right: 75px;
    filter: contrast(50%);
}
.footer-icon-left{
    cursor: pointer;
    margin: 5px;
    position: absolute;
    width: 25px;
    height: 25px;
    left: 5px;
    top: 3px;
    filter: contrast(50%);
}
.massage-list{
    margin-bottom: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}
.massage-item{
    max-width: 600px;
}
.massage-text{
    font-family:'Roboto', sans-serif;
    font-size: 14px;
    max-width: 80%;
    background-color: whitesmoke ;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    overflow-wrap: break-word;
    display: inline-block;
}
.send {
    margin-left: auto;
}
.from{
    margin-right: auto;
}
.corner-send{
    position: absolute;
    right:-10px;
    bottom: 0px;
    display: block;
    border: 10px solid whitesmoke;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
}

.body-modal .chat-info-modal{
    display: block;
    z-index: 10;
}
.body-modal .modal-opacity{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
}
.chat-info-modal{
	width: 380px;
	min-height: 600px;
	background-color: white;
	border-radius: 5px;
    position: absolute;
    top: 50px;
    z-index: 1;
    left: 200px;
    display: none;
}
.chat-info-modal-header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 25px;
}
.modal-hedaer-menu-button,.modal-hedaer-close-button{
	width: 15px;
	height: 15px;
	margin-right: 20px;
	border: none;
	background-color: inherit;
	cursor: pointer;
	outline: none;
}
.modal-header-icon{
	width: 100%;
	filter: contrast(10%);
}
.modal-header-title{
	margin-left: 20px;
	font-family: sans-serif;
	font-size: 16px;
	color:  #515152 ;
}
.rasm{
	width: 70px;
	height: 70px;
	background-color: green;
	display: block;
	border-radius: 50%;
	margin: 20px;
}
.group-name-box{
	display: flex;
	align-items: center;
	margin-top: 10px;
	box-shadow: 0px 10px 0px rgba( 200, 200, 207, 0.4 );
}
.group-name{
	font-size: 15px;
	font-family: sans-serif;
	font-weight: 550;
	padding-bottom: 5px;
}
.group-members{
	text-decoration: none;
	font-size: 14px;
	color: gray;
	
}
.notifications-button{
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: inherit;
	height: 50px;
	border:none;
	background-color: white;
	cursor: pointer;	
}
.notifications-button:hover{
	background-color:rgba( 200, 200, 207, 0.3 );
}
.notifications-button-icon{
	width: 70px;
	height: 70px;
	padding: 25px;
	filter: contrast(30%);
}
.notifications-button-text{
	padding-right: 150px;
}
.download-info-list{
	padding-top: 10px;
	box-shadow: 0px -10px 0px rgba( 200, 200, 207, 0.4 );
}
.download-info-item{
	display: flex;
	align-items: center;
    cursor: pointer;
}
.download-info-item:hover{
	background-color: rgba( 200, 200, 207, 0.3 );
}
.download-item-icon{
	margin-left: 27px;
	margin-right: 32px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 18px;
	height: 18px;
	filter: contrast(30%);
}
.download-item-subtext{
	font-family: sans-serif;
	font-size: 12px;
	margin-top: 10px;
}
.modal-contact-info{
    display: flex;
    align-items: center;
}
.profil-number{
    font-size: 14px;
    
}
.modal-profil-number{
    display: inline;
    width: 307px;
    height: 100px;
    padding-top: 35px;
    padding-left: 5px;
    box-shadow: 0px 1px 0px lightgray;
}
.modal-profile-info{
    font-size: 12px;
    color: gray;
}
.image-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    
}


.acount-img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
    object-fit:contain;
	display: inline-block;
	margin: 20px;
}
.accound-info-modal{
	position: absolute;
    top: 20px;
	display: none;
	width: 300px;
	min-height: 670px;
	background-color: white;
	z-index: 10;
}
.left-modal .accound-info-modal{
	display: block;
    animation-name: settings-modal;
    animation-duration: 0.6s;
}
.account-info-list{
	background-image: linear-gradient(to right,rgba( 200, 200, 207, 0.7),rgba( 200, 200, 207, 0.5)),
					 url(img/profil-foto.jpg);
	background-position: center;
	background-size: cover;
	padding-bottom: 10px;
}
.account-name, .account-number{
	padding-left: 20px;
	padding-bottom: 5px;
	font-family: sans-serif;
	font-size: 14px;
	color: white;
}
.account-settings-item{
	display: flex;
	align-items: center;
	cursor: pointer;
}
.account-settings-item:hover{
	background-color: rgba( 200, 200, 207, 0.4);
}
.account-settings-list{
	margin-top: 20px;
}
.settings-item-icon{
	margin-left: 27px;
	margin-right: 32px;
	margin-top: 8px;
	margin-bottom: 8px;
	width: 18px;
	height: 18px;
	filter: contrast(30%);
}

.account-settings-subtext{
	font-family: sans-serif;
	font-size: 12px;
	font-weight: 600;
}
.left-modal .left-modal-opasity{
    position: fixed;
    background-color: rgba(0, 0,0, 0.5);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
@keyframes settings-modal {
	from{
		transform: translateX(-300px);
	}
	to{
		transform: translateX(0px);
	}
}









::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}
::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 30px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}
::-webkit-scrollbar-thumb:active {
  background: #373739;
}
::-webkit-scrollbar-track {
  background: #cdcbe1;
  border: 0px none #ffffff;
  border-radius: 42px;
}
::-webkit-scrollbar-track:hover {
  background: #9b9da1;
}
::-webkit-scrollbar-track:active {
  background: #9c9ba1;
}
::-webkit-scrollbar-corner {
  background: transparent;
}